.root {
	overflow-y: auto;
	max-width: 18rem;
	max-height: 18rem;
}

.button {
	justify-content: flex-start;
	width: 100%;
}

.emoji {
	width: 1.25rem;
	height: 1.25rem;
}

.label {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
