.dragging {
	height: 100px;
	opacity: 0.8;
	border: 2px solid var(--orange-90) !important;
}

.task {
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	max-width: 278px;
	border-radius: 16px;
	background-color: var(--lightBlue);
	touch-action: none;
	border: 1px solid var(--main-5);
	box-shadow: var(--boxShadow-xs);
	cursor: pointer;
}

.row {
	display: flex;
	gap: 4px;
	align-items: center;
	h3 {
		font-size: calc(14 / 16 * 1rem);
		font-weight: 600;
		line-height: calc(20 / 16 * 1rem);
	}
}

.bottom {
	display: flex;
	flex-wrap: wrap;
	gap: 6px;
	.imgWrapper {
		img {
			object-fit: cover;
			border-radius: 6px;
		}
	}

	.wrapper {
		display: flex;
		align-items: center;
		border-radius: 6px;
		gap: 4px;
		padding: 2px 4px;
		border: 1px dashed var(--main-30);
		background-color: var(--main-5);
		p {
			font-size: calc(12 / 16 * 1rem);
			font-weight: 400;
			line-height: calc(18 / 16 * 1rem);
			color: var(--main-65);
		}
	}
	.low {
		background-color: var(--orange-5);
		border: 1px dashed var(--orange-90);
		p {
			color: var(--orange);
		}
	}
	.full {
		border: 1px solid var(--main-0);
		background-color: var(--main-0);
	}

	span {
		font-size: calc(12 / 16 * 1rem);
		font-weight: 400;
		line-height: calc(18 / 16 * 1rem);
		color: var(--main-60);
	}
}
