.container {
	padding: 0.5rem;
}

.form {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.inputWrapper {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
	background-color: var(--neutral-100);
	cursor: text;
}

.icon {
	flex: none;
	color: var(--black);
}

.input {
	flex: 1;
	background-color: transparent;
	outline: none;
	min-width: 12rem;
	font-size: 0.875rem;
	color: var(--black);
}

.toggleWrapper {
	margin-top: 0.75rem;
}

.toggleLabel {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5rem;
	font-size: 0.875rem;
	font-weight: 600;
	cursor: pointer;
	user-select: none;
	color: var(--neutral-500);
}

:global(.dark) {
	.inputWrapper {
		background-color: var(--neutral-900);
	}

	.icon {
		color: var(--white);
	}

	.input {
		color: var(--white);
	}

	.toggleLabel {
		color: var(--neutral-400);
	}
}
