.colorWrapper {
	h2 {
		font-size: calc(16 / 16 * 1rem);
		font-weight: 600;
		line-height: calc(20 / 16 * 1rem);
	}
	.colorContainer {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		row-gap: 20px;
		column-gap: 28px;
		.color {
			border-radius: 8px;
			border: 1px solid rgba(72, 70, 67, 0.05);
			overflow: hidden;
			.background {
				width: 100%;
				aspect-ratio: 1/1.1;
			}
			.info {
				padding: 12px 8px 12px 12px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				background-color: var(--lightBlue);
				.leftSide {
					h3 {
						font-size: calc(16 / 16 * 1rem);
						font-weight: 500;
						line-height: calc(24 / 16 * 1rem);
						letter-spacing: calc(-0.16 / 16 * 1rem);
					}
					p {
						font-size: calc(14 / 16 * 1rem);
						font-weight: 400;
						line-height: calc(20 / 16 * 1rem);
						letter-spacing: calc(-0.07 / 16 * 1rem);

						color: rgba(72, 70, 67, 0.4);
					}
				}
			}
		}
	}
}
