/* Color */

:root {
	--white: rgba(247, 249, 251, 1);

	--white-80: rgba(247, 249, 251, 0.8);
	--sidebar: rgba(247, 249, 251, 1);
	--black: rgba(0, 0, 0, 1);
	--black-black: rgba(0, 0, 0, 1);
	--main-main: rgba(72, 70, 67, 1);
	--main: rgba(72, 70, 67, 1);
	--main-95: rgba(72, 70, 67, 0.95);
	--main-90: rgba(72, 70, 67, 0.9);
	--main-85: rgba(72, 70, 67, 0.85);
	--main-80: rgba(72, 70, 67, 0.8);
	--main-75: rgba(72, 70, 67, 0.75);
	--main-70: rgba(72, 70, 67, 0.7);
	--main-65: rgba(72, 70, 67, 0.65);
	--main-60: rgba(72, 70, 67, 0.6);
	--main-55: rgba(72, 70, 67, 0.55);
	--main-50: rgba(72, 70, 67, 0.5);
	--main-45: rgba(72, 70, 67, 0.45);
	--main-40: rgba(72, 70, 67, 0.4);
	--main-35: rgba(72, 70, 67, 0.35);
	--main-30: rgba(72, 70, 67, 0.3);
	--main-25: rgba(72, 70, 67, 0.25);
	--main-20: rgba(72, 70, 67, 0.2);
	--main-15: rgba(72, 70, 67, 0.15);
	--main-10: rgba(72, 70, 67, 0.1);
	--main-9: rgba(72, 70, 67, 0.09);
	--main-8: rgba(72, 70, 67, 0.08);
	--main-7: rgba(72, 70, 67, 0.07);
	--main-6: rgba(72, 70, 67, 0.06);
	--main-5: rgba(72, 70, 67, 0.05);
	--main-4: rgba(72, 70, 67, 0.04);
	--main-3: rgba(72, 70, 67, 0.03);
	--main-2: rgba(72, 70, 67, 0.02);
	--main-1: rgba(72, 70, 67, 0.01);
	--backdrop: rgba(72, 70, 67, 0.07);

	--orange: rgba(200, 90, 20, 1);
	--orange-90: rgba(200, 90, 20, 0.9);
	--orange-20: rgba(200, 90, 20, 0.2);
	--orange-5: rgba(200, 90, 20, 0.05);
	--whiteSpecial: rgba(237, 233, 221, 1);
	--whiteSpecial-5: rgba(237, 233, 221, 0.05);
	--whiteSpecial-10: rgba(237, 233, 221, 0.1);
	--lightBlue: rgba(239, 241, 246, 1);
	--lightBlue-75: rgba(239, 241, 246, 0.75);

	--lightBlue-45: rgba(239, 241, 246, 0.45);
	--purple: rgba(229, 236, 246, 1);
	--purple-50: rgba(229, 236, 246, 0.5);

	--completedText: rgba(74, 167, 133, 1);
	--completed: rgba(161, 227, 203, 1);
	--completed-50: rgba(161, 227, 203, 0.5);
	--completed-25: rgba(161, 227, 203, 0.25);

	--progressText: rgba(138, 140, 217, 1);
	--progress: rgba(149, 164, 252, 1);

	--canceledText: rgba(72, 70, 67, 0.6);
	--canceled: rgba(72, 70, 67, 0.4);

	--plannedText: rgba(89, 168, 212, 1);
	--planned: rgba(177, 227, 255, 1);

	--backlogText: rgba(89, 168, 212, 1);
	--backlog: rgba(177, 227, 255, 1);

	--notStarted-bg: rgba(89, 168, 212, 0.3);
	--notStarted-text: rgba(89, 168, 212, 1);
	--notStarted-ball: rgba(89, 168, 212, 0.8);

	--active-bg: rgba(89, 168, 212, 0.3);
	--active-text: rgba(89, 168, 212, 1);
	--active-ball: rgba(89, 168, 212, 0.8);

	--completed-bg: rgba(89, 168, 212, 0.3);
	--completed-text: rgba(89, 168, 212, 1);
	--completed-ball: rgba(89, 168, 212, 0.8);

	--leads: rgba(90, 155, 95, 1);
	--leads-90: rgba(90, 155, 95, 0.9);

	--contacted: rgba(125, 130, 200, 1);
	--contacted-90: rgba(125, 130, 200, 0.9);

	--oppurtunity: rgba(81, 98, 255, 1);
	--oppurtunity-90: rgba(81, 98, 255, 0.9);

	--client: rgba(200, 90, 20, 1);
	--client-90: rgba(200, 90, 20, 0.9);
	--error-600: rgba(243, 65, 65, 1);
	--error-600-90: rgba(243, 65, 65, 0.9);
	--error-600-80: rgba(243, 65, 65, 0.8);
	--error-600-70: rgba(243, 65, 65, 0.7);
	--error-600-60: rgba(243, 65, 65, 0.6);
	--error-600-50: rgba(243, 65, 65, 0.5);
	--error-600-40: rgba(243, 65, 65, 0.4);
	--error-600-30: rgba(243, 65, 65, 0.3);
	--error-600-20: rgba(243, 65, 65, 0.2);
	--error-600-10: rgba(243, 65, 65, 0.1);
	--error-600-5: rgba(243, 65, 65, 0.05);

	--gray-50: rgba(250, 250, 250, 1);
	--gray-100: rgba(246, 247, 249, 1);
	--gray-200: rgba(229, 231, 234, 1);
	--gray-300: rgba(206, 210, 214, 1);
	--gray-400: rgba(158, 165, 173, 1);
	--gray-500: rgba(103, 110, 118, 1);
	--gray-600: rgba(89, 96, 102, 1);
	--gray-700: rgba(69, 76, 82, 1);
	--gray-800: rgba(56, 63, 69, 1);
	--gray-900: rgba(36, 41, 46, 1);
	--gray-1000: rgba(26, 29, 31, 1);
	--error-50: rgba(255, 251, 250, 1);
	--error-100: rgba(254, 242, 242, 1);
	--error-200: rgba(253, 233, 233, 1);
	--error-300: rgba(250, 199, 199, 1);
	--error-400: rgba(247, 161, 161, 1);
	--error-500: rgba(243, 115, 115, 1);
	--error-700: rgba(205, 54, 54, 1);
	--error-800: rgba(163, 46, 46, 1);
	--error-900: rgba(124, 35, 35, 1);
	--error-1000: rgba(96, 27, 27, 1);

	--warning-50: rgba(255, 252, 245, 1);
	--warning-100: rgba(254, 250, 245, 1);
	--warning-200: rgba(251, 242, 203, 1);
	--warning-300: rgba(253, 229, 126, 1);
	--warning-400: rgba(255, 209, 106, 1);
	--warning-500: rgba(251, 188, 85, 1);
	--warning-600: rgba(233, 162, 59, 1);
	--warning-700: rgba(200, 129, 26, 1);
	--warning-800: rgba(163, 92, 0, 1);
	--warning-900: rgba(139, 68, 0, 1);
	--warning-1000: rgba(120, 49, 11, 1);

	--success-50: rgba(246, 254, 249, 1);
	--success-100: rgba(239, 253, 246, 1);
	--success-200: rgba(217, 249, 230, 1);
	--success-300: rgba(184, 241, 210, 1);
	--success-400: rgba(142, 228, 186, 1);
	--success-500: rgba(106, 208, 157, 1);
	--success-600: rgba(83, 180, 131, 1);
	--success-700: rgba(47, 148, 97, 1);
	--success-800: rgba(47, 118, 87, 1);
	--success-900: rgba(37, 94, 70, 1);
	--success-1000: rgba(30, 77, 58, 1);

	--ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
	--ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	--ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
	--ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	--ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
	--ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);

	--ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	--ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
	--ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
	--ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
	--ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
	--ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);

	--ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
	--ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
	--ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
	--ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
	--ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
	--ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);

	--hover-in: 0.15s ease;
	--hover-out: 0.2s ease;

	--boxShadow-xs: 0px 1px 2px 0px rgba(72, 70, 67, 0.05);
	--boxShadow-sm: 0px 1px 3px 0px rgba(72, 70, 67, 0.1),
		0px 1px 2px 0px rgba(72, 70, 67, 0.06);
	--boxShadow-md: 0px 3px 6px -1px rgba(72, 70, 67, 0.08),
		0px 2px 4px -1px rgba(72, 70, 67, 0.06);
	--boxShadow-lg: 0px 10px 16px -3px rgba(72, 70, 67, 0.08),
		0px 3px 6px -2px rgba(72, 70, 67, 0.05);
	--boxShadow-xl: 0px 18px 24px -5px rgba(72, 70, 67, 0.1),
		0px 8px 8px -5px rgba(72, 70, 67, 0.05);
	--boxShadow-2xl: 0px 24px 48px -12px rgba(72, 70, 67, 0.24);

	--headerHeight: 93px;
	--headerMobileHeight: 73px;
	--footerHeight: 96px;
}

[data-theme='dark'] {
	--white: rgba(24, 24, 24, 1);
	--white-80: rgba(24, 24, 24, 0.8);
	--black: rgba(255, 255, 255, 1);
	--black-black: rgba(0, 0, 0, 1);
	--sidebar: rgba(26, 26, 26, 1);
	--main-main: rgba(72, 70, 67, 1);
	--main: rgba(237, 233, 221, 1);
	--main-95: rgba(237, 233, 221, 0.95);
	--main-90: rgba(237, 233, 221, 0.9);
	--main-85: rgba(237, 233, 221, 0.85);
	--main-80: rgba(237, 233, 221, 0.8);
	--main-75: rgba(237, 233, 221, 0.75);
	--main-70: rgba(237, 233, 221, 0.7);
	--main-65: rgba(237, 233, 221, 0.65);
	--main-60: rgba(237, 233, 221, 0.6);
	--main-55: rgba(237, 233, 221, 0.55);
	--main-50: rgba(237, 233, 221, 0.5);
	--main-45: rgba(237, 233, 221, 0.45);
	--main-40: rgba(237, 233, 221, 0.4);
	--main-35: rgba(237, 233, 221, 0.35);
	--main-30: rgba(237, 233, 221, 0.3);
	--main-25: rgba(237, 233, 221, 0.25);
	--main-20: rgba(237, 233, 221, 0.2);
	--main-15: rgba(237, 233, 221, 0.15);
	--main-10: rgba(237, 233, 221, 0.1);
	--main-5: rgba(237, 233, 221, 0.05);
	--backdrop: transparent;

	--lightBlue: rgba(31, 30, 30, 1);
	--lightBlue-45: rgba(31, 30, 30, 0.45);

	--purple: rgba(58, 60, 61, 1);
	--purple-50: rgba(58, 60, 61, 0.5);

	--boxShadow-xs: 0px 1px 2px 0px rgba(237, 233, 221, 0.02);
	--boxShadow-sm: 0px 1px 2px 0px rgba(237, 233, 221, 0.05);
	--boxShadow-md: 0px 1px 2px 0px rgba(237, 233, 221, 0.05);
	--boxShadow-lg: 0px 3px 6px -1px rgba(237, 233, 221, 0.08),
		0px 2px 4px -1px rgba(237, 233, 221, 0.06);
	--boxShadow-xl: 0px 10px 16px -3px rgba(237, 233, 221, 0.08),
		0px 3px 6px -2px rgba(237, 233, 221, 0.05);
	--boxShadow-2xl: 0px 18px 24px -5px rgba(237, 233, 221, 0.1),
		0px 8px 8px -5px rgba(237, 233, 221, 0.05);
}

/* Fonts */
:root {
	--font-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir,
		segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
		sans-serif;
	--font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
		Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
		Segoe UI Emoji, Segoe UI Symbol;
	--font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
		monospace;
}

body {
	font-family: var(--inter), var(--font-sans-serif);
	color: var(--main);
	background-color: var(--white);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* For Firefox Scrollbar */
	/* scrollbar-width: none; */
}
/* ::-webkit-scrollbar {
	width: 0px;
} */

/* higlight Color */
/* ::selection {
	background-color: var(--main);
	color: var(--BGColor);
} */
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}
*:not(span) {
	text-wrap: pretty;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas {
	max-width: 100%;
}
img,
picture,
video,
canvas,
svg {
	display: block;
}
input,
button,
textarea,
select {
	cursor: pointer;
	font: inherit;
}
button {
	border: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}
a {
	color: inherit;
	text-decoration: none;
}
button {
	background: none;
	border: none;
	cursor: pointer;
	color: inherit;
}
#root,
#__next {
	isolation: isolate;
}
