.wrapper {
	display: flex;
	flex-direction: column;
	gap: 8px;
	border-radius: 16px;
	background-color: var(--lightBlue);
	border: 1px solid var(--main-5);
	box-shadow: var(--boxShadow-sm);
	padding: 24px;
	h2 {
		font-size: calc(18 / 16 * 1rem);
		font-weight: 600;
		line-height: calc(28 / 16 * 1rem);
	}
	p {
		font-size: calc(12 / 16 * 1rem);
		font-weight: 400;
		line-height: calc(20 / 16 * 1rem);
	}
}
