.title {
	font-size: calc(16 / 16 * 1rem);
	font-weight: 600;
	line-height: calc(20 / 16 * 1rem);
}
.phases {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	gap: 16px;

	.phase {
		padding: 14px;
		border-radius: 16px;
		background-color: var(--lightBlue);
		display: flex;
		flex-direction: column;
		gap: 14px;
		border: 1px solid var(--main-5);
		box-shadow: var(--boxShadow-xs);
		.topSide {
			display: flex;
			gap: 4px;
			align-items: center;
			.svg {
				transform: translateY(-1px);
			}
			h3 {
				font-size: calc(18 / 16 * 1rem);
				font-weight: 600;
				line-height: calc(28 / 16 * 1rem);
			}
		}
		.underSide {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.status {
				display: flex;
				gap: 6px;
				align-items: center;
				padding: 0 16px;
				background-color: var(--colorBG);
				border-radius: 8px;
				div {
					width: 4px;
					height: 4px;
					border-radius: 360px;
					background-color: var(--colorBall);
				}
				p {
					color: var(--colorText);
					font-size: calc(10 / 16 * 1rem);
					font-weight: 500;
					line-height: calc(24 / 16 * 1rem);
				}
			}
			.date {
				display: flex;
				gap: 4px;
				align-items: center;
				p {
					font-size: calc(10 / 16 * 1rem);
					font-weight: 500;
					line-height: calc(28 / 16 * 1rem);
				}
			}
		}
	}
}
