.button {
	background-color: var(--orange);
	border-radius: 8px;
	display: flex;
	gap: 6px;
	padding: 6px 10px;
	box-shadow: var(--boxShadow-xs);
	border: 1px solid var(--main-5);
	span {
		font-size: calc(10 / 16 * 1rem);
		font-weight: 500;
		line-height: calc(14 / 16 * 1rem);
		color: var(--white);
	}
}
