.container {
	text-align: left;
	max-height: min(80vh, 24rem);
	overflow: auto;
	flex-wrap: wrap;
	margin-bottom: 2rem;
	padding: 0.5rem;
}

.grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 0.125rem;
}

.categoryTitle {
	color: var(--neutral-500);
	font-size: 0.65rem;
	grid-column: 1/-1;
	margin: 1rem 0.5rem 0;
	font-weight: 600;
	letter-spacing: 0.05em;
	user-select: none;
	text-transform: uppercase;
}

.categoryTitle:first-of-type {
	margin-top: 0.125rem;
}

:global(.dark) {
	.categoryTitle {
		color: var(--neutral-400);
	}
}
