.toolbarWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--lightBlue);
	padding: 16px 18px;
	border-radius: 12px;
	.leftSide {
		display: flex;
		gap: 16px;
		align-items: center;
		.groupSvg {
			display: flex;
			gap: 2px;
			align-items: center;
			h6 {
				font-size: calc(12 / 16 * 1rem);
				font-weight: 500;
				line-height: calc(14 / 16 * 1rem);
				color: var(--main);
				transform: translateY(0.5px);
			}
		}
		.line {
			width: 1px;
			height: 32px;
			background-color: var(--main);
			border-radius: 360px;
		}
	}

	.addButton {
		background-color: var(--orange);
		border-radius: 8px;

		padding: 8px 16px;
		box-shadow: 0px 1px 2px 0px var(--main-5);
		h6 {
			font-size: calc(14 / 16 * 1rem);
			font-weight: 400;
			line-height: calc(20 / 16 * 1rem);
			color: var(--white);
		}
	}
}
