.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.375rem;
	border-radius: 0.25rem;

	&:not(.active) {
		&:hover {
			background-color: var(--neutral-100);
		}
	}

	&.active {
		background-color: var(--neutral-100);
	}
}

.bubble {
	width: 1rem;
	height: 1rem;
	border-radius: 0.25rem;
	background-color: var(--slate-100);
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
	ring-offset: 2px;
	ring-color: currentColor;

	&:not(.active) {
		&:hover {
			ring-width: 1px;
		}
	}

	&.active {
		ring-width: 1px;
	}
}

:global(.dark) {
	.wrapper {
		&:not(.active) {
			&:hover {
				background-color: var(--neutral-900);
			}
		}

		&.active {
			background-color: var(--neutral-900);
		}
	}
}
