.menuContainer {
	display: flex;
	align-items: center;
	gap: 0.125rem;
}

.menuContent {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	min-width: 16rem;
}

.deleteButton {
	color: var(--red-500);
	background-color: var(--red-500);
	background-opacity: 0.1;

	&:hover {
		background-opacity: 0.2;
	}
}

:global(.dark) {
	.deleteButton {
		color: var(--red-500);
		background-color: var(--red-500);
		background-opacity: 0.1;

		&:hover {
			color: var(--red-500);
			background-opacity: 0.2;
		}
	}
}
