.GalleryContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: 28px;
	row-gap: 26px;
	.item {
		position: relative;
		.GalleryItem {
			position: relative;
			aspect-ratio: 16/9;
			border-radius: 8px;
			overflow: hidden;
			width: 100%;

			img {
				object-fit: cover;
			}
		}
		.bannerLeft,
		.bannerRight {
			position: absolute;
			top: 16px;
			padding: 1px 4px;
			border-radius: 4px;
			background-color: #e5ecf6;
			p {
				font-size: calc(12 / 16 * 1rem);
				font-weight: 400;
				line-height: calc(18 / 16 * 1rem);
				color: var(--main-60);
			}
		}
		.bannerLeft {
			left: 18px;
		}
		.bannerRight {
			right: 18px;
		}

		.under {
			display: flex;
			justify-content: space-between;
			margin-top: 8px;
			h3 {
				font-size: calc(12 / 16 * 1rem);
				font-weight: 400;
				line-height: calc(18 / 16 * 1rem);
				color: var(--main);
			}
			.svgs {
				display: flex;
				gap: 12px;
			}
		}
	}
}
