.layout {
	display: flex;
	.sidebar {
		position: fixed;
		top: 0;
		left: 0;
		transition: transform 0.4s var(--ease-in-out-cubic);
	}
	.closedLeft {
		transform: translateX(-100%);
	}
	.main {
		min-height: 100vh;
		min-height: 100svh;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		transition: padding-left 0.4s var(--ease-in-out-cubic),
			padding-right 0.4s var(--ease-in-out-cubic);

		main,
		.standard,
		.leftOpen,
		.rightOpen {
			min-height: calc(100vh - 189px);
			min-height: calc(100svh - 189px);
			transition: margin-left 0.4s var(--ease-in-out-cubic),
				margin-right 0.4s var(--ease-in-out-cubic);
			@media (max-width: 430px) {
				min-height: calc(100vh - 104px);
				min-height: calc(100svh - 104px);
			}
		}
		.standard {
			margin: 0 28px;
		}
		.leftOpen {
			margin-left: 4%;
		}
		.rightOpen {
			margin-right: 4%;
		}
		.standard,
		.leftOpen,
		.rightOpen {
			@media (max-width: 430px) {
				margin: 0 16px;
			}
		}
	}
	.rightBar {
		position: fixed;
		top: 0;
		right: 0;
		transition: transform 0.4s var(--ease-in-out-cubic);
	}
	.closedRight {
		transform: translateX(100%);
	}
}
