.galleryWrapper {
	.imgWrapper {
		position: relative;

		width: 100%;
		aspect-ratio: 15/10;
		img {
			border-radius: 16px;
			object-fit: cover;
		}
	}
	.gallery {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 28px;
		.galleryItem {
			position: relative;
			height: 230px;

			img {
				object-fit: cover;
				border-radius: 16px;
			}
		}
	}
}
