.galleryWrapper {
	.imgWrapper {
		position: relative;

		width: 100%;
		aspect-ratio: 15/10;
		border-radius: 16px;
		overflow: hidden;
		border: 1px solid var(--main-5);
		box-shadow: var(--boxShadow-sm);
		img {
			object-fit: cover;
		}
	}
	.gallery {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 28px;
		.galleryItem {
			position: relative;
			height: 230px;
			border-radius: 16px;
			overflow: hidden;
			border: 1px solid var(--main-5);
			box-shadow: var(--boxShadow-sm);
			img {
				object-fit: cover;
			}
		}
	}
}
