.projectWrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: 28px;

	.project {
		padding: 24px;
		background-color: var(--lightBlue);
		border-radius: 16px;
		border: 1px solid var(--main-5);
		box-shadow: var(--boxShadow-sm);
		.topPart {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.projectInfo {
				width: fit-content;
				h2 {
					font-size: calc(14 / 16 * 1rem);
					font-weight: 600;
					line-height: calc(20 / 16 * 1rem);
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					width: 22ch;
				}
				p {
					font-size: calc(12 / 16 * 1rem);
					font-weight: 400;
					line-height: calc(18 / 16 * 1rem);
					color: var(--main-40);
				}
			}
			img {
				object-fit: cover;
				border-radius: 360px;
			}
		}
		.middlePart {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.leftSide {
				display: flex;
				gap: 12px;
				align-items: center;
				.priority {
					display: flex;
					align-items: center;
					border-radius: 6px;
					padding: 2px 4px;

					p {
						font-size: calc(10 / 16 * 1rem);
						font-weight: 400;
						line-height: calc(18 / 16 * 1rem);
					}
				}
				.low {
					background-color: var(--orange-5);
					border: 1px dashed var(--orange-90);
					p {
						color: var(--orange);
					}
				}
				.medium {
					background-color: var(--orange-5);
					border: 1px dashed var(--orange-90);
					p {
						color: var(--orange);
					}
				}
				.high {
					background-color: var(--orange-5);
					border: 1px dashed var(--orange-90);
					p {
						color: var(--orange);
					}
				}
				.urgent {
					background-color: var(--orange-5);
					border: 1px dashed var(--orange-90);
					p {
						color: var(--orange);
					}
				}
			}

			.status {
				display: flex;
				gap: 6px;
				align-items: center;
				div {
					width: 6px;
					height: 6px;
					border-radius: 360px;
				}
				p {
					font-size: calc(12 / 16 * 1rem);
					font-weight: 400;
					line-height: calc(18 / 16 * 1rem);
				}
			}
			.completed {
				div {
					background-color: var(--completed);
				}
				p {
					color: var(--completedText);
				}
			}
			.progress {
				div {
					background-color: var(--progress);
				}
				p {
					color: var(--progressText);
				}
			}
			.canceled {
				div {
					background-color: var(--canceled);
				}
				p {
					color: var(--canceledText);
				}
			}
			.planned {
				div {
					background-color: var(--planned);
				}
				p {
					color: var(--plannedText);
				}
			}
			.backlog {
				div {
					background-color: var(--backlog);
				}
				p {
					color: var(--backlogText);
				}
			}
		}
		.line {
			width: 100%;
			height: 4px;
			background-color: var(--main-5);
			border-radius: 16px;
			overflow: hidden;
			div {
				height: 100%;
			}
			.completed {
				background-color: var(--completed);
			}
			.progress {
				background-color: var(--progress);
			}
			.canceled {
				background-color: var(--canceled);
			}
			.planned {
				background-color: var(--planned);
			}
			.backlog {
				background-color: var(--backlog);
			}
		}
		.bottomPart {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.leftSide {
				display: flex;
				align-items: center;
				gap: 3px;
				width: 100%;

				p,
				span {
					font-size: calc(12 / 16 * 1rem);
					font-weight: 400;
					line-height: calc(18 / 16 * 1rem);
				}
				span {
					color: var(--main-40);
				}
			}
			.rightSide {
				margin-left: auto;
				font-size: calc(12 / 16 * 1rem);
				font-weight: 400;
				line-height: calc(18 / 16 * 1rem);
			}
		}
	}
}
