.content {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	padding: 0.5rem 1rem;
}

.chevron {
	width: 0.5rem;
	height: 0.5rem;
}

.groupWrapper {
	margin-top: 0.625rem;
	gap: 0.125rem;
	display: flex;
	flex-direction: column;

	&:first-child {
		margin-top: 0;
	}
}
